<div class="bon-commande-container">
  <p-toast></p-toast>
  <div class="bon-commande-header">
    <h2>Facture Client N°{{ formattedDeliveryNumber }}</h2>
    <p class="date">Date : <strong>{{ currentDate | date:'EEEE, d MMMM y' }}</strong></p>
  </div>

  <div class="client-info">
    <h3>Informations du Client</h3>
    <div class="grid formgrid p-fluid">
      <div class="col-12 md:col-4">
        <label>Client</label>
        <input pInputText [value]="selectedClient?.nom || ''" [disabled]="true">
      </div>
      <div class="col-12 md:col-4">
        <label>Code client</label>
        <input pInputText [value]="selectedClient?.code || ''" [disabled]="true">
      </div>
      <div class="col-12 md:col-4">
        <label>Raison sociale</label>
        <input pInputText [value]="selectedClient?.raison_sociale || ''" [disabled]="true">
      </div>
    </div>

    <div class="grid formgrid p-fluid">
      <div class="col-12 md:col-4">
        <label>Contact</label>
        <input pInputText [value]="selectedClient?.contact || ''" [disabled]="true">
      </div>
      <div class="col-12 md:col-4">
        <label>Email</label>
        <input pInputText [value]="selectedClient?.email || ''" [disabled]="true">
      </div>
      <div class="col-12 md:col-4">
        <label>Téléphone</label>
        <input pInputText [value]="selectedClient?.numero_telephone || ''" [disabled]="true">
      </div>
    </div>

    <div class="grid formgrid p-fluid">
      <div class="col-12 md:col-12">
        <label>Adresse</label>
        <input pInputText [value]="selectedClient?.adresse || ''" [disabled]="true">
      </div>
    </div>
  </div>

  <h3>Informations Générales</h3>
  <div class="grid formgrid p-fluid">
    <div class="col-12 md:col-4">
      <label>Date document <span class="required-star">*</span></label>
      <p-calendar [(ngModel)]="devis.dateDocument" showTime appendTo="body"></p-calendar>
    </div>
    
    <div class="col-12 md:col-4">
      <label>État Document <span class="required-star">*</span></label>
      <p-dropdown 
        [options]="etatOptions" 
        [(ngModel)]="devis.etat" 
        placeholder="Sélectionner un état"
        [filter]="true">
      </p-dropdown>    
    </div>
    <div class="col-12 md:col-4">
      <label>Préparé par <span class="required-star">*</span></label>
      <p-dropdown 
        [options]="magasiniers" 
        optionLabel="nom" 
        optionValue="id"
        [(ngModel)]="devis.preparateur_id" 
        (onChange)="onMagasinierSelect($event.value)"
        placeholder="Sélectionner un préparateur"
        [filter]="true">
      </p-dropdown>    
    </div>
  </div>
<br>
  <div class="grid formgrid p-fluid">
    <div class="col-12 md:col-4">
      <label>Devise <span class="required-star">*</span></label>
      <p-dropdown 
        [options]="deviseOptions" 
        [(ngModel)]="devis.devise" 
        placeholder="Sélectionner une devise" 
        appendTo="body" 
        filter="true" 
        filterBy="label">
      </p-dropdown>
    </div>
    <div class="col-12 md:col-4">
      <label>Taux d'échange</label>
      <input pInputText [(ngModel)]="devis.tauxEchange" type="number" placeholder="Taux d'échange">
    </div>
    <div class="col-12 md:col-4">
      <label>Date de livraison</label>
      <p-calendar [(ngModel)]="devis.dateLivraison" showTime></p-calendar>
    </div>
  </div>

  <h3>Produits Livrés</h3>
  <p-table [value]="factureProduits" responsiveLayout="scroll" class="commande-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Désignation</th>
        <th>Quantité</th>
        <th>PUHT/U</th>
        <th>TVA %</th>
        <th>TTC</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.produit.id }}</td>
        <td>{{ item.produit.nom }}</td>
        <td>{{ item.quantite }}</td>
        <td>{{ item.puht | number:'1.2-2' }}</td>
        <td>{{ item.tva }}%</td>
        <td>{{ item.prixTotal | number:'1.2-2' }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <br>

  <div class="bon-commande-actions">
    <button 
      pButton 
      label="Enregistrer Facture" 
      icon="pi pi-check" 
      class="p-button-success" 
      (click)="saveFactureAsDocument()">
    </button>
    <button 
      pButton 
      label="Imprimer" 
      icon="pi pi-print" 
      class="p-button-secondary" 
      (click)="imprimerfacture(doc?.id)">
    </button>
  </div>
</div>