<div class="card">
  <h2>Mon Panier</h2>

  <ng-container *ngIf="produitsCommandes.length > 0; else vide">
    <div *ngFor="let produit of produitsCommandes; let i = index" class="mb-3">
      <div class="flex justify-content-between align-items-center">
        <div>
          <strong>{{ produit.nom }}</strong><br>
          <small>Quantité : {{ produit.quantitystock }}</small><br>
          <small>Prix unitaire : {{ produit.prix | currency:'DT' }}</small>
        </div>
        <div>
          <strong>Total : {{ produit.prix! * produit.quantitystock! | currency:'DT' }}</strong>
          <button pButton icon="pi pi-trash" class="p-button-danger ml-2" (click)="retirerProduit(i)"></button>
        </div>
      </div>
    </div>

    <h3 class="mt-4">Total général : {{ getTotal() | currency:'DT' }}</h3>

    <div class="mt-2 flex gap-2">
      <button pButton label="Vider" icon="pi pi-times" class="p-button-secondary" (click)="viderPanier()"></button>
      <button 
      pButton 
      label="Valider la commande" 
      icon="pi pi-check" 
      class="p-button-success" 
      [routerLink]="['/vente/bon-commande']">
    </button>
        </div>
  </ng-container>

  <ng-template #vide>
    <p>Votre panier est vide.</p>
  </ng-template>
</div>
