.bon-livraison-container {
    max-width: 88%;;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

    .bon-livraison-header {
    text-align: center;
    margin-bottom: 20px;
  }