.bon-commande-container {
  padding: 2rem;
  background-color: #fefefe;
}

.bon-commande-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 0.9rem;
  color: #555;
}

.commande-table {
  margin-top: 1rem;
}

.bon-commande-actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.required-star {
  color: red;
}
