<div class="bon-commande-container"> 
  <div class="bon-commande-header">
    <h2>Bon de Commande Client N°{{ formattedOrderNumber }}</h2>
    <p class="date">Date : <strong>{{ currentDate | date:'EEEE, d MMMM y' }}</strong></p>
  </div>

  <div class="grid formgrid p-fluid">
    <div class="col-12 md:col-4">
      <label>Date document</label>
      <p-calendar [(ngModel)]="devis.dateDocument" showTime></p-calendar>
    </div>
    <div class="col-12 md:col-4">
      <label>État Document</label>
      <p-dropdown [options]="etatOptions" [(ngModel)]="devis.etat"></p-dropdown>
    </div>
    <div class="col-12 md:col-4">
      <label>Préparé par</label>
      <p-dropdown [options]="preparateurs" optionLabel="nom" [(ngModel)]="devis.preparateur" optionValue="nom"></p-dropdown>
    </div>
  </div>

  <div class="client-info">
    <h3>Informations du Client</h3>
    <div class="grid formgrid p-fluid">
      <div class="col-12 md:col-4">
        <label>Client</label>
        <p-dropdown [options]="clients" optionLabel="nom" [(ngModel)]="selectedClient" (onChange)="onClientSelect($event.value)" class="mb-2 mt-2"></p-dropdown>
      </div>
      <div class="col-12 md:col-4">
        <label>Code client</label>
        <input pInputText [value]="selectedClient?.code || ''" [disabled]="true">
      </div>
      <div class="col-12 md:col-4">
        <label>Raison sociale</label>
        <input pInputText [value]="selectedClient?.raison_sociale || ''" [disabled]="true">
      </div>
    </div>

    <div class="grid formgrid p-fluid">
      <div class="col-12 md:col-4">
        <label>Matricule fiscale</label>
        <input pInputText [value]="selectedClient?.logo || ''" [disabled]="true">
      </div>
      <div class="col-12 md:col-4">
        <label>Téléphone</label>
        <input pInputText [value]="selectedClient?.numero_telephone || ''" [disabled]="true">
      </div>
      <div class="col-12 md:col-4">
        <label>Adresse</label>
        <input pInputText [value]="selectedClient?.adresse || ''" [disabled]="true">
      </div>
    </div>
  </div>

  <div class="grid formgrid p-fluid">
    <div class="col-12 md:col-4">
      <label>Devise</label>
      <p-dropdown [options]="deviseOptions" [(ngModel)]="devis.devise" placeholder="Sélectionner une devise" appendTo="body" filter="true" filterBy="label"></p-dropdown>
    </div>
    <div class="col-12 md:col-4">
      <label>Taux d'échange</label>
      <input pInputText [(ngModel)]="devis.tauxEchange" type="number" placeholder="Taux d'échange">
    </div>
    <div class="col-12 md:col-4">
      <label>Date de livraison</label>
      <p-calendar [(ngModel)]="devis.dateLivraison" showTime></p-calendar>
    </div>
  </div>

  <h3>Produits Commandés</h3>

  <p-table [value]="devisProduits" responsiveLayout="scroll" class="commande-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Désignation</th>
        <th>Stock</th>
        <th>Quantité</th>
        <th>PUHT/U</th>
        <th>TVA %</th>
        <th>TTC</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.produit.id }}</td>
        <td>{{ item.produit.nom }}</td>
        <td>{{ getStockRestant(item) }}</td>
        <td>
          <input type="number" 
                 [(ngModel)]="item.quantite" 
                 (ngModelChange)="mettreAJourProduit(item)" 
                 [max]="item.produit.quantitystock"
                 [min]="1"
                 class="p-inputtext p-component" />
        </td>

        <td>
          <input type="number" 
                 [(ngModel)]="item.produit.prix" 
                 (ngModelChange)="mettreAJourProduit(item)" 
                 min="0"
                 class="p-inputtext p-component" />
        </td>

        <td>{{ tva }}</td>
        <td>{{ item.prixTotal | number:'1.2-2' }}</td>
        <td class="icon-spacing">
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="modifierProduit(item)"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="supprimerProduit(item)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <div class="bon-commande-actions">
  <button 
  pButton 
  label="Voir Produits" 
  icon="pi pi-eye" 
  class="p-button-info" 
  (click)="voirProduitsCommandes()">
</button>

<br>
<br>

<button 
  pButton 
  label="Valider et Passer au Bon de Livraison" 
  icon="pi pi-check" 
  class="p-button-success" 
  (click)="validerEtPasserALivraison()">
</button>
<button 
  pButton 
  label="Imprimer" 
  icon="pi pi-print" 
  class="p-button-secondary" 
  (click)="imprimerDevis(devis.id)">
</button>
</div>
<p-confirmDialog 
  header="Confirmation" 
  icon="pi pi-exclamation-triangle" 
  acceptLabel="Oui" 
  rejectLabel="Non">
</p-confirmDialog>