.bon-commande-container {
    max-width: 88%;;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .bon-commande-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .date {
    font-size: 14px;
    color: #555;
  }
  
  .client-info {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .client-info h3 {
    margin-top: 0;
  }
  
  .produit-table, .commande-table {
    margin-top: 20px;
  }
  
  .btn-pdf {
    float: right;
    margin-bottom: 15px;
  }
  
  .btn-valider {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .btn-valider:hover {
    background-color: #218838;
  }
  .bon-commande-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
  }
  
  .bon-commande-actions button {
    margin-left: 10px; 
  }
  .icon-spacing {
    margin-right: 8px; 
    font-size: 1.2em; 
    display: flex;
    justify-content: space-evenly;
  }
  th:last-child,
  td.icon-spacing {
    width: 95px;
    gap: 8px;
}
.bon-commande-container label {
  display: block;
  margin-bottom: 0.5rem; /* espace entre label et input */
  font-weight: 500;
  color: #333;
}

.bon-commande-container .p-inputtext,
.bon-commande-container .p-dropdown,
.bon-commande-container .p-calendar {
  width: 100%;
  margin-bottom: 1.25rem; /* espace sous chaque champ */
}

  
  